In [1]:
import requests
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import unicodedata
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

### Dataframe TGV

In [2]:
URL = "https://ressources.data.sncf.com/api/records/1.0/search/"

params = {
    "dataset" : "regularite-mensuelle-tgv-aqst",
    "rows" : "-1",
    "sort":["date"],
}
response = requests.get(URL, params = params)

data = response.json()

list_data_tgv = []

for annee in range (2016, 2022):
    for mois in range(1,13):
        params['refine.date'] = str(annee) + "/" + str(mois)

        response = requests.get(URL, params = params)

        data = response.json()

        for record in data["records"]:
            list_data_tgv.append(record)
train = []

for gare in list_data_tgv:
    try:
        train.append(gare["fields"])
    except:
        print('not name')

In [3]:
trains = pd.DataFrame(train)

trains

,prct_cause_infra,retard_moyen_trains_retard_sup15,retard_moyen_tous_trains_arrivee,prct_cause_externe,nb_train_prevu,prct_cause_gestion_trafic,nb_train_retard_arrivee,nb_train_retard_sup_15,nb_annulation,prct_cause_prise_en_charge_voyageurs,...,service,nb_train_depart_retard,prct_cause_gestion_gare,date,gare_depart,duree_moyenne,retard_moyen_depart,retard_moyen_tous_trains_depart,prct_cause_materiel_roulant,commentaires_retard_arrivee
0,31.092437,6.511118,6.511118,36.134454,870,10.924370,147,110,5,0.840336,...,National,289,5.042017,2018-01,BORDEAUX ST JEAN,141,11.247809,3.693179,15.966387,NaN
1,30.769231,5.696096,5.696096,15.384615,222,38.461538,34,22,0,0.000000,...,National,8,3.846154,2018-01,LA ROCHELLE VILLE,165,2.875000,0.095796,11.538462,NaN
2,38.461538,7.548387,7.578947,26.923077,248,15.384615,26,26,1,0.000000,...,National,37,0.000000,2018-01,PARIS MONTPARNASSE,220,9.501351,1.003981,19.230769,"Ce mois-ci, l'OD a été touchée par les inciden..."
3,46.153846,6.724757,6.790686,23.076923,102,7.692308,13,8,0,0.000000,...,National,12,7.692308,2018-01,PARIS MONTPARNASSE,156,19.912500,1.966667,15.384615,"Ce mois-ci, l'OD a été touchée par les inciden..."
4,42.424242,3.346487,3.346487,21.212121,391,9.090909,71,17,2,0.000000,...,National,61,6.060606,2018-01,PARIS MONTPARNASSE,61,7.796995,0.886889,21.212121,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5956,20.408163,48.804598,4.183297,4.081633,507,6.122449,54,29,42,22.448980,...,National,46,8.163265,2021-12,PARIS NORD,48,25.385145,2.216022,38.775510,NaN
5957,14.814815,41.891358,6.186814,40.740741,250,22.222222,27,27,0,7.407407,...,National,12,0.000000,2021-12,QUIMPER,225,24.537500,1.192771,14.814815,NaN
5958,24.827586,34.649099,5.220756,20.689655,815,25.517241,147,74,3,11.034483,...,National,333,2.068966,2021-12,RENNES,97,8.889339,3.650534,15.862069,NaN
5959,50.000000,33.468750,4.628889,20.000000,92,0.000000,10,8,0,0.000000,...,National,4,0.000000,2021-12,ST MALO,157,27.629167,1.206667,30.000000,NaN
5960,20.000000,42.984444,5.262439,20.000000,276,30.000000,30,30,4,23.333333,...,National,62,6.666667,2021-12,TOULON,244,10.891667,2.431924,0.000000,NaN

In [4]:
trains["date"] = pd.to_datetime(trains["date"])

trains.sort_values('date')

trains.drop(['prct_cause_infra', 'retard_moyen_trains_retard_sup15', 'retard_moyen_tous_trains_arrivee', 'prct_cause_externe', 'prct_cause_gestion_trafic', 'nb_train_retard_arrivee', 'nb_train_retard_sup_15', 'nb_annulation', 'prct_cause_prise_en_charge_voyageurs', 'service', 'nb_train_depart_retard', 'prct_cause_gestion_gare', 'duree_moyenne', 'retard_moyen_depart', 'retard_moyen_tous_trains_depart', 'prct_cause_materiel_roulant', 'commentaires_retard_arrivee', 'gare_arrivee', 'retard_moyen_arrivee', 'nb_train_retard_sup_30', 'nb_train_retard_sup_60'], axis=1, inplace=True)

In [5]:
trains

      nb_train_prevu       date         gare_depart
0                870 2018-01-01    BORDEAUX ST JEAN
1                222 2018-01-01   LA ROCHELLE VILLE
2                248 2018-01-01  PARIS MONTPARNASSE
3                102 2018-01-01  PARIS MONTPARNASSE
4                391 2018-01-01  PARIS MONTPARNASSE
...              ...        ...                 ...
5956             507 2021-12-01          PARIS NORD
5957             250 2021-12-01             QUIMPER
5958             815 2021-12-01              RENNES
5959              92 2021-12-01             ST MALO
5960             276 2021-12-01              TOULON

[5961 rows x 3 columns]

### Dataframe TER

In [6]:
URL = "https://ressources.data.sncf.com/api/records/1.0/search/"

params = {
    "dataset" : "regularite-mensuelle-ter",
    "rows" : "-1",
    "sort":["date"],
}
response = requests.get(URL, params = params)

data = response.json()

list_data_ter = []

for annee in range (2016, 2022):
    for mois in range(1,13):
        params['refine.date'] = str(annee) + "/" + str(mois)

        response = requests.get(URL, params = params)

        data = response.json()

        for record in data["records"]:
            list_data_ter.append(record)
ter = []

for gare in list_data_ter:
    try:
        ter.append(gare["fields"])
    except:
        print('not name')

In [7]:
ters = pd.DataFrame(ter)

In [8]:
ters["date"] = pd.to_datetime(ters["date"])

ters.sort_values('date')

ters.drop(['nombre_de_trains_a_l_heure_pour_un_train_en_retard_a_l_arrivee', 'nombre_de_trains_en_retard_a_l_arrivee', 'taux_de_regularite', 'nombre_de_trains_ayant_circule', 'nombre_de_trains_annules', 'commentaires'], axis=1, inplace=True)

### Dataframe INTERCITÉS

In [9]:
URL = "https://ressources.data.sncf.com/api/records/1.0/search/"

params = {
    "dataset" : "regularite-mensuelle-intercites",
    "rows" : "-1",
    "sort":["date"],
}
response = requests.get(URL, params = params)

data = response.json()

list_data_intercite = []

for annee in range (2016, 2022):
    for mois in range(1,13):
        params['refine.date'] = str(annee) + "/" + str(mois)

        response = requests.get(URL, params = params)

        data = response.json()

        for record in data["records"]:
            list_data_intercite.append(record)
intercite = []

for gare in list_data_intercite:
    try:
        intercite.append(gare["fields"])
    except:
        print('not name')

In [10]:
intercites = pd.DataFrame(intercite)

In [11]:
intercites["date"] = pd.to_datetime(intercites["date"])

intercites.sort_values('date')

intercites.drop(['nombre_de_trains_a_l_heure_pour_un_train_en_retard_a_l_arrivee', 'nombre_de_trains_annules', 'nombre_de_trains_en_retard_a_l_arrivee', 'taux_de_regularite', 'nombre_de_trains_ayant_circule', 'arrivee'], axis=1, inplace=True)

### Calculs des trains totaux

In [12]:
intercites['date'] = pd.to_datetime(intercites['date'])

intercites = intercites.set_index('date').resample('M').sum()
intercites.reset_index(inplace=True)

/tmp/ipykernel_305026/3242055214.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  intercites = intercites.set_index('date').resample('M').sum()

In [13]:
trains['date'] = pd.to_datetime(trains['date'])

trains = trains.set_index('date').resample('M').sum()
trains.reset_index(inplace=True)

/tmp/ipykernel_305026/2556070976.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trains = trains.set_index('date').resample('M').sum()

In [14]:
ters['date'] = pd.to_datetime(ters['date'])

ters = ters.set_index('date').resample('M').sum()
ters.reset_index(inplace=True)

/tmp/ipykernel_305026/3052160437.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ters = ters.set_index('date').resample('M').sum()

In [15]:
dfo_trains = pd.merge(trains, intercites, on='date')

df_trains = pd.merge(dfo_trains, intercites, on='date')

df_trains['total_trains'] = df_trains['nb_train_prevu'] + df_trains['nombre_de_trains_programmes_x'] + df_trains['nombre_de_trains_programmes_y']

In [16]:
df_trains.drop(['nb_train_prevu', 'nombre_de_trains_programmes_x', 'nombre_de_trains_programmes_y'], axis=1, inplace=True)

In [17]:
norm = scaler.fit_transform(df_trains[['total_trains']])

In [18]:
df_trains = df_trains.assign(norme=norm)

In [19]:
df_trains['date'] = df_trains['date'].dt.strftime("%Y_%0m")

In [20]:
df_trains

       date  total_trains     norme
0   2018_01         48194  1.000000
1   2018_02         43755  0.900536
2   2018_03         48164  0.999328
3   2018_04         43039  0.884492
4   2018_05         43605  0.897174
5   2018_06         45364  0.936588
6   2018_07         47660  0.988035
7   2018_08         46630  0.964956
8   2018_09         45796  0.946268
9   2018_10         45729  0.944767
10  2018_11         48189  0.999888
11  2018_12         45736  0.944924
12  2019_01         44404  0.915078
13  2019_02         40219  0.821305
14  2019_03         44173  0.909902
15  2019_04         41969  0.860517
16  2019_05         44231  0.911201
17  2019_06         43763  0.900715
18  2019_07         45892  0.948419
19  2019_08         41152  0.842210
20  2019_09         42494  0.872280
21  2019_10         42704  0.876986
22  2019_11         40028  0.817025
23  2019_12         19481  0.356629
24  2020_01         29620  0.583813
25  2020_02         35467  0.714827
26  2020_03         23221  0.440431
27  2020_04          3565  0.000000
28  2020_05         13143  0.214614
29  2020_06         24286  0.464295
30  2020_07         34455  0.692151
31  2020_08         34812  0.700150
32  2020_09         35300  0.711085
33  2020_10         25284  0.486657
34  2020_11         11133  0.169576
35  2020_12         27137  0.528177
36  2021_01         33459  0.669834
37  2021_02         29759  0.586928
38  2021_03         30987  0.614444
39  2021_04         33283  0.665890
40  2021_05         34259  0.687759
41  2021_06         35410  0.713549
42  2021_07         39592  0.807255
43  2021_08         40014  0.816711
44  2021_09         37541  0.761299
45  2021_10         38472  0.782160
46  2021_11         36913  0.747227
47  2021_12         40648  0.830917

In [21]:
username = "CodeBenji"
mdp = "Code!12345"
db="sncf_meteo"

engine = create_engine(f"mysql+mysqlconnector://{username}:{mdp}@localhost/{db}", echo=True)

df_trains.to_sql(name='Trains', con=engine, if_exists = 'replace', index=False)

2022-12-22 15:00:49,900 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-22 15:00:49,900 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 15:00:49,902 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-22 15:00:49,903 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 15:00:49,904 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-22 15:00:49,904 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 15:00:49,906 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-22 15:00:49,907 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'table_schema': 'sncf_meteo', 'table_name': 'Trains'}
2022-12-22 15:00:49,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-22 15:00:49,912 INFO sqlalchemy.engine.Engine
CREATE TABLE `Trains` (
	date TEXT,
	total_trains BIGINT,
	norme FLOAT(53)
)


2022-12-22 15:00:49,913 INFO sqlalchemy.engine.Engine [no key 0.00117s] {}
2022-12-22 15:00:49,936 INFO sqlalchemy.engine.Engine COMMIT
2022-12-22 15:00:49,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-22 15:00:49,940 INFO sqlalchemy.engine.Engine INSERT INTO `Trains` (date, total_trains, norme) VALUES (%(date)s, %(total_trains)s, %(norme)s)
2022-12-22 15:00:49,941 INFO sqlalchemy.engine.Engine [generated in 0.00113s] ({'date': '2018_01', 'total_trains': 48194, 'norme': 1.0}, {'date': '2018_02', 'total_trains': 43755, 'norme': 0.900535526227341}, {'date': '2018_03', 'total_trains': 48164, 'norme': 0.999327791346434}, {'date': '2018_04', 'total_trains': 43039, 'norme': 0.8844921463622308}, {'date': '2018_05', 'total_trains': 43605, 'norme': 0.8971744829595106}, {'date': '2018_06', 'total_trains': 45364, 'norme': 0.9365883170136011}, {'date': '2018_07', 'total_trains': 47660, 'norme': 0.9880346859665241}, {'date': '2018_08', 'total_trains': 46630, 'norme': 0.9649555221940891}  ... displaying 10 of 48 total bound parameter sets ...  {'date': '2021_11', 'total_trains': 36913, 'norme': 0.74722713930404}, {'date': '2021_12', 'total_trains': 40648, 'norme': 0.8309171166730153})
2022-12-22 15:00:49,952 INFO sqlalchemy.engine.Engine COMMIT
2022-12-22 15:00:49,956 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `sncf_meteo`
2022-12-22 15:00:49,957 INFO sqlalchemy.engine.Engine [raw sql] {}

48